<!DOCTYPE html>
<html lang="en" data-ng-app="startpageApp">

<head>
	<meta charset="UTF-8">
	<title>Pretty cool start page</title>

	<script data-require="angular.js@1.2.x" src="js/angular.js" data-semver="1.2.16"></script>
	<script data-require="angular.js@1.2.x" src="js/angular-animate.min.js" data-semver="1.2.16"></script>
	<script src="js/app.js"></script>

	<link rel="stylesheet" href="foundation.css" />
	<link rel="stylesheet" href="style.css" />
</head>

<body id="body" class="ng-scope fade-in-out" data-ng-controller="weatherController">
	<!-- Time and Date -->
	<div id="dateTime" class="section" data-ng-controller='timeCtrl'>
		<p class="col col-left">
			{{ clock | date:'EEEE'}}
			<br> {{ clock | date:'dd MMMM yyyy'}}
		</p>
		<p class="col col-right date-main">{{ clock | date:'HH:mm:ss'}}</p>
	</div>
	<!-- Search box -->
	<form id="search" class="section">
		<input id="search-box" type="text" autofocus="autofocus" placeholder="Google Encrypted Search">
		<button id="search-button" class="btn">Search</button>
	</form>
	<!-- Weather -->
	<div id="weather" class="section animate-show" ng-show="weatherVisible">
		<!-- Current weather -->
		<div id="weather__current">
			<h1 data-ng-click="fetchWeather(location, fullForecast)">{{ place.location.city }}</h1>
			<!-- <img src="http://l.yimg.com/a/i/us/we/52/{{place.item.condition.code}}.gif" alt="Current weather icon"/> -->
			<img src="img/weather_icons/{{place.item.condition.code}}.png" alt="Current weather icon" />
			<div id="weather__current--info">
				<h2>{{ place.item.condition.text }} | {{ place.item.condition.temp }}&deg; </h2>
				<p>
					Wind: {{place.wind.speed}} km/h<br> Sunrise: {{place.astronomy.sunrise}}<br> Sunset: {{place.astronomy.sunset}}
				</p>
			</div>

		</div>
		<!-- Next days -->
		<div id="weather__nextDays">
			<div data-ng-repeat="forecast in place.item.forecast">
				<p><strong>{{ forecast.date }}</strong></p>
				<!-- <img src="http://l.yimg.com/a/i/us/we/52/{{forecast.code}}.gif"/> -->
				<img src="img/weather_icons/{{forecast.code}}.png" />
				<div class="forecast__desc">
					<p>{{ forecast.text }}</p>
					<p>H: {{ forecast.high }}&deg; | L: {{ forecast.low }}&deg;</p>
				</div>
			</div>
		</div>
	</div>
	<!-- Settings -->
	<footer class="section">
		<div id="settings">
			<div id="settings-controls">
				<form>
					<label for="full_forecast">10 day forecast</label>
					<input type="checkbox" id="full_forecast" class="ng-pristine" data-ng-model="fullForecast">
					<label>Location (City, Country): </label>
					<input type="text" class="ng-pristine ng-valid ng-valid-number" data-ng-model="location" placeholder="e.g. Paris, France">
					<input class="btn" type="submit" value="Search" data-ng-click="saveSettings(location, fullForecast)">
				</form>
			</div>
			<img id="settings-button" src="img/settings.png" alt="Settings">
		</div>
	</footer>

	<script src="js/script.js"></script>
</body>

</html>