@charset'UTF-8';
body {
	font-family: 'Roboto', sans-serif;
	color: #fff;
	text-align: center;
	background-color: #3B3B3B;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	opacity: 0;
}
.fade-in-out {
	transition: opacity 0.2s linear, background-image 0.2s linear;
}
/*BUTTONS*/
.btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
	background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
	background-color:#007dc1;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:24px;
	font-weight: 700;
	padding:10px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
.btn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
	background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
	background-color:#0061a7;
}
.btn:active {
	position:relative;
	top:1px;
}
.date-main {
	font-size: 3em;
}
#dateTime {
	padding: 1em;
	padding-bottom: 0;
	font-size: 2em;
}
#search-box {
	width: 50%;
}
input[type=text] {
	width: 50%;
    padding: 10px 20px;
	font-size: 24px;
    box-sizing: border-box;
	outline-style: none;
	border-width: 0;
}
input[type=text]:focus {
	outline-style: solid;
	outline-width: 1px;
	outline-color: chocolate;
}
#weather__current img {
	vertical-align: middle;
}
#weather__current--info {
	display: inline-block;
	vertical-align: middle;
	text-align: left;
}
#weather__nextDays {
	margin-top: 0.1em;
}
.forecast__desc {
	font-size: 12px;
}
/* day element */
#weather__nextDays > div {
	vertical-align: top;
	max-width: 100px;
	display: inline-block;
	padding: 1em;
}
#weather__nextDays img {
	width: 40%;
}
#settings {
	padding: 1em;
	width: 100%;
	position: absolute;
	bottom: 0;
	right: 0;
	text-align: right;
	transition: background-color 0.2s linear;
}
#settings > * {
	vertical-align: middle;
}
#settings-controls {
	display: none;
	margin-right: 2em;
}
h1 {
	font-size: 3em;
	font-weight: 400;
}
.section {
	margin-bottom: 1em;
}
.bg-dark {
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	top: 40px; /* Header Height */
	bottom: 20px; /* Footer Height */
	width: 100%;
}
.col {
	display: inline-block;
	width: 49%;
}
.col-right {
	text-align: right;
}
.col-left {
	text-align: left;
}

@media (max-width: 720px) {}